<div class="page-layout carded fullwidth inner-scroll" id="projects">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayout.gt-sm="row"
             fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
                    folder
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">
                    Projets
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Rechercher une projet">
                </div>
            </div>
            <!-- / SEARCH -->
            <button mat-raised-button
                    (click)="newProject()"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
                <span>Nouveau projet</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table #table
                       [@animateStagger]="{value:'50'}" [dataSource]="filteredProjects"
                       class="projects-table"
                       fusePerfectScrollbar
                       matSort>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Titre</mat-header-cell>
                    <mat-cell *matCellDef="let project">
                        <p class="text-truncate">{{project.title}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell *matCellDef="let project">
                        <p class="text-truncate">{{project.description}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date début</mat-header-cell>
                    <mat-cell *matCellDef="let project">
                        <p class="text-truncate">{{project.startDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date fin</mat-header-cell>
                    <mat-cell *matCellDef="let project">
                        <p class="text-truncate">{{project.endDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let project">
                        <a (click)="editProject(project)">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let project; columns: displayedColumns;"
                         class="project"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10" [length]="totalElements"
                           (page)="nextPage($event)">

            </mat-paginator>

        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
