<div id="budget-details" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-16" [routerLink]="'/main/budget-management/budgets'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{budget?.title}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Pour le projet : </span>&nbsp;
                        <span>{{budget?.project?.title}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group fxLayout="column" fxFlex>

                    <mat-tab label="Lignes budgétaire">
                        <div class="products tab-content p-24" fusePerfectScrollbar>
                            <table class="simple">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Montant</th>
                                    <th>Reste à financer</th>
                                    <th>Etat</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="product-row"
                                    *ngFor="let line of budgetLines">
                                    <td>
                                        {{line?.title}}
                                    </td>
                                    <td>
                                        {{line?.amount | number:'':'fr-FR'}} F CFA
                                    </td>
                                    <td>
                                        {{line?.stayToFinanced | number:'':'fr-FR'}} F CFA
                                    </td>
                                    <td>
                                        <div class="priorities" fxLayout="row" fxLayoutAlign="start center">
                                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                                <div class="priority-color"
                                                     [ngStyle]="{'background-color': line.state==='PENDING'?'#2196F3':line.state==='CLOSE'?'#4CAF50':line.state==='IN_FINANCING'?'#ffa500':'#2196F3'}">
                                                </div>
                                                <div class="priority-label">{{lineState[line?.state]}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>
                                            <span matBadge="{{line?.numberOfSubLine ? line?.numberOfSubLine : 0}}"
                                                  matBadgeOverlap="false">Sous lignes</span>
                                        </p>
                                    </td>
                                    <td>
                                        <div fxFlex="row" fxLayoutAlign="end center">
                                            <button mat-icon-button [matMenuTriggerFor]="lineOptionMenu"
                                                    aria-label="more">
                                                <mat-icon class="secondary-text">more_vert</mat-icon>
                                            </button>
                                            <mat-menu #lineOptionMenu="matMenu">
                                                <button mat-menu-item
                                                        [routerLink]="'/main/budget-management/line-details/'+line?.id">
                                                    <mat-icon>remove_red_eye</mat-icon>
                                                    <span>Voir détails</span>
                                                </button>
                                                <button *ngIf="line?.stayToFinanced !=0" mat-menu-item
                                                        (click)="issueFunding('issue', line)">
                                                    <mat-icon>assignment</mat-icon>
                                                    <span>Emission d'un financement</span>
                                                </button>
                                                <button *ngIf="line?.stayToFinanced ==0 && !line.forecast" mat-menu-item
                                                        (click)="addForecast(line)">
                                                    <mat-icon>done_outline</mat-icon>
                                                    <span>Ajouter une prévision</span>
                                                </button>
                                                <button *ngIf="line?.numberOfSubLine ==0" mat-menu-item
                                                        (click)="addDetails(line)">
                                                    <mat-icon>add</mat-icon>
                                                    <span>Ajouter un détail</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>

                    <mat-tab label="Financement">
                        <div class="products tab-content p-24" fusePerfectScrollbar>
                            <table class="simple" *ngIf="fundings.length>0">
                                <thead>
                                <tr>
                                    <th>Date de financement</th>
                                    <th>Ligne</th>
                                    <th>Partenaire</th>
                                    <th>Montant</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="product-row" *ngFor="let fundind of fundings">
                                    <td>
                                        {{fundind?.date | date: 'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{fundind?.line?.title}}
                                    </td>
                                    <td>
                                        {{fundind?.partner?.name}}
                                    </td>
                                    <td>
                                        {{fundind?.amount | number:'':'fr-FR'}} F CFA
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="fundings.length=== 0" fxLayout="row" fxLayoutAlign="center">
                                <h2>
                                    Aucun finacement pour le moment
                                </h2>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Etat de chaque ligne">
                        <div class="products tab-content p-24" fusePerfectScrollbar>
                            <table class="simple" *ngIf="lineBodies.length>0">
                                <thead>
                                <tr>
                                    <th>Ligne</th>
                                    <th>Total</th>
                                    <th>Realisé</th>
                                    <th>Ecart</th>
                                    <th>%</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="product-row"
                                    *ngFor="let budgetLine of lineBodies">
                                    <td>
                                        {{budgetLine?.title}}
                                    </td>
                                    <td>
                                        {{budgetLine?.amount | number:'':'fr-FR'}} F CFA
                                    </td>
                                    <td>
                                        {{budgetLine?.executed | number:'':'fr-FR'}} F CFA
                                    </td>
                                    <td>
                                        {{budgetLine?.difference | number:'':'fr-FR'}} F CFA
                                    </td>
                                    <td *ngIf="budgetLine?.executed>0">
                                        {{((budgetLine.executed / budgetLine.amount) * 100).toFixed(2)}} %
                                    </td>
                                    <td *ngIf="budgetLine?.executed === 0">
                                        0 %
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>

                    <mat-tab label="Autres informations">

                        <div class="order-details tab-content p-24" fusePerfectScrollbar>

                            <div class="section pb-48">

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">school</mat-icon>
                                    <div class="h2 secondary-text">Projet</div>
                                    <!--<div style="padding-left: 60% !important;">
                                        <button style="background-color: #1E2129 !important;" mat-raised-button
                                                class="mat-accent">
                                            <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                                                      class="logo-icon s-32 mr-16">
                                                cloud_upload
                                            </mat-icon>
                                            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                                                  class="logo-text h1">
                                                Exporter en excel
                                            </span>
                                        </button>
                                    </div>-->
                                </div>

                                <div class="customer mb-32">
                                    <table class="simple">
                                        <thead>
                                        <tr>
                                            <th>Titre</th>
                                            <th>Description</th>
                                            <th>Date début</th>
                                            <th>Date fin</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div fxLayout="row" fxLayoutAlign="start center">
                                                    <span class="name text-truncate">{{budget?.project?.title}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="name text-truncate">{{budget?.project?.description}}
                                                </span>
                                            </td>
                                            <td>
                                                <span
                                                    class="name text-truncate">{{budget?.project?.startDate | date: 'dd/MM/yyyy'}}
                                                </span>
                                            </td>
                                            <td>
                                                <span
                                                    class="name text-truncate">{{budget?.project?.endDate | date: 'dd/MM/yyyy'}}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
