<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle style="  background: #000000; color: white !important;" class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#006400"
            type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">S'il vous plaît, attendez ...</p>
        </ngx-spinner>

        <form *ngIf="budgetForm" [formGroup]="budgetForm" name="budgetForm">

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4" floatLabel="always" fxFlex="50">
                    <mat-label>Titre</mat-label>
                    <input matInput placeholder="le titre du budget"
                           name="title"
                           formControlName="title">
                </mat-form-field>
                <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                    <mat-label>Projet</mat-label>
                    <mat-select formControlName="project" placeholder="choisir un projet">
                        <mat-option *ngFor="let project of projects"
                                    [value]="project?.id">{{project?.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Date de debut</mat-label>
                    <input [matDatepicker]="startDatePicker"
                           formControlName="startDate" matInput name="startDate">
                    <mat-datepicker-toggle [for]="startDatePicker"
                                           matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Date de fin</mat-label>
                    <input [matDatepicker]="endDatePicker" formControlName="endDate" matInput
                           name="endDate">
                    <mat-datepicker-toggle [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- Start form units array with first row must and dynamically add more -->
            <mat-card formArrayName="lines">
                <mat-card-title>Lignes budgétaire</mat-card-title>
                <mat-divider></mat-divider>
                <!-- loop throught lignes -->
                <div *ngFor="let line of budgetForm.controls.lines['controls']; let i=index">

                    <!-- row divider show for every nex row exclude if first row -->
                    <mat-divider
                        *ngIf="budgetForm.controls.lines['controls'].length > 1 && i > 0">
                    </mat-divider>
                    <br>

                    <!-- group name in this case row index -->
                    <div [formGroupName]="i">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%"
                             fxLayoutAlign="center">
                            <!-- unit name input field -->
                            <mat-form-field class="pr-4" fxFlex="50">
                                <input matInput placeholder="Titre" formControlName="title"
                                       required>
                            </mat-form-field>
                            <mat-form-field class="pr-4" fxFlex="50">
                                <input matInput placeholder="Montant" type="text" mask="separator"
                                       formControlName="amount" required>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card> <!-- End form lines array -->

            <!-- Amount sum -->
            <mat-card>
                Le montant total du budget est {{ getAmountSum() | number:'':'fr-FR'}} F CFA
            </mat-card>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">

        <button *ngIf="budgetForm" mat-button class="save-button"
                [disabled]="budgetForm.invalid" (click)="validate()"
                matTooltip="Valider">
            Valider
        </button>


        <button (click)="matDialogRef.close()"
                class="mr-8" mat-button
                matTooltip="Annnuler">
            Annnuler
        </button>

    </div>
</div>
