<div id="line-details" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-16"
                        [routerLink]="'/main/budget-management/budget-details/details/'+budgetLine?.budget?.id">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{budgetLine?.title}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group fxLayout="column" fxFlex>

                    <mat-tab label="Les sous lignes">
                        <div class="products tab-content p-24" fusePerfectScrollbar>
                            <table class="simple" *ngIf="subLines.length>0">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Montant</th>
                                    <th>category</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="product-row"
                                    *ngFor="let subLine of subLines">
                                    <td>
                                        {{subLine?.title}}
                                    </td>
                                    <td>
                                        {{subLine?.amount | number:'':'fr-FR'}} F CFA
                                    </td>
                                    <td>
                                        {{subLine?.category?.name}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="subLines.length=== 0" fxLayout="row" fxLayoutAlign="center">
                                <h2>
                                    Aucune sous ligne pour le moment
                                </h2>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Les financement">
                        <div class="products tab-content p-24" fusePerfectScrollbar>
                            <table class="simple" *ngIf="fundings.length>0">
                                <thead>
                                <tr>
                                    <th>Date de financement</th>
                                    <th>Partenaire</th>
                                    <th>Montant</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="product-row"
                                    *ngFor="let fundind of fundings">
                                    <td>
                                        {{fundind?.date | date: 'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{fundind?.partner?.name}}
                                    </td>
                                    <td>
                                        {{fundind?.amount | number:'':'fr-FR'}} F CFA
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="fundings.length=== 0" fxLayout="row" fxLayoutAlign="center">
                                <h2>
                                    Aucun finacement pour le moment
                                </h2>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Les prévisions">
                        <div class="order-details tab-content p-24" fusePerfectScrollbar>

                            <div class="section pb-48">

                                <div class="customer mb-32">
                                    <table class="simple" *ngIf="forecasts.length>0">
                                        <thead>
                                        <tr>
                                            <th>Date début</th>
                                            <th>Date fin</th>
                                            <th>Montant</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let forecast of forecasts">
                                            <td>
                                                {{forecast?.startDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{forecast?.endDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{forecast?.amount | number:'':'fr-FR'}} F CFA
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div *ngIf="forecasts.length=== 0" fxLayout="row" fxLayoutAlign="center">
                                        <h2>
                                            Aucune prévision pour le moment
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Les dépenses">
                        <div class="order-details tab-content p-24" fusePerfectScrollbar>

                            <div class="section pb-48">

                                <div class="customer mb-32">
                                    <table class="simple" *ngIf="expenses.length>0">
                                        <thead>
                                        <tr>
                                            <th>Titre</th>
                                            <th>Unité</th>
                                            <th>Quantité</th>
                                            <th>P.U</th>
                                            <th>Montant</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let expense of expenses">
                                            <td>
                                                {{expense?.title}}
                                            </td>
                                            <td>
                                                {{expense?.unity?.name}}
                                            </td>
                                            <td>
                                                {{expense?.quantity | number:'':'fr-FR'}}
                                            </td>
                                            <td>
                                                {{expense?.unitPrice | number:'':'fr-FR'}} F CFA
                                            </td>
                                            <td>
                                                {{expense?.amount | number:'':'fr-FR'}} F CFA
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div *ngIf="expenses.length=== 0" fxLayout="row" fxLayoutAlign="center">
                                        <h2>
                                            Aucune dépense pour le moment
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
