<div id="approve-demand" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/staff_management/demands'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{demand?.title}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="!files?.length">
                <span>Approuver</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="demandForm" [formGroup]="demandForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Details de la demande">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Objet</mat-label>
                                    <input matInput name="title"
                                           formControlName="title"
                                           readonly>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Budget</mat-label>
                                    <mat-select formControlName="budget">
                                        <mat-option *ngFor="let budget of budgets"
                                                    [value]="budget.id">
                                            {{budget?.title}} / {{budget?.project?.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Date de la demande</mat-label>
                                    <input [matDatepicker]="dateOfDemand"
                                           formControlName="demandDate" matInput readonly
                                           name="demandDate">
                                    <mat-datepicker-toggle [for]="dateOfDemand" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #dateOfDemand></mat-datepicker>
                                </mat-form-field>

                                <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                    <quill-editor formControlName="description" readOnly></quill-editor>
                                </div>

                            </div>

                        </mat-tab>

                        <mat-tab label="Ajouter les factures proforma">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                <button *ngIf="!demandFiles?.length"
                                        mat-raised-button style="width: 100%"
                                        (click)="showUploadDialog(demand)">
                                    <i class="material-icons">cloud_upload</i>&nbsp;&nbsp;
                                    <span>Charger les factures</span>
                                </button>

                                <div class="card" *ngIf="demandFiles?.length > 0">
                                    <!--<ul *ngFor="let file of demandFiles">
                                        <li>
                                            {{_demandFileService.serviceURL + '/files/' + file.fileName}}
                                        </li>
                                    </ul>-->
                                    <p-dataView [value]="demandFiles">
                                        <ng-template let-demandFile pTemplate="listItem">
                                            <div class="p-col-12">
                                                <div class="product-list-item">
                                                    <div class="product-list-detail">
                                                        <div class="product-name">
                                                            <a href="{{_demandFileService.serviceURL + '/files/' + demandFile?.fileName}}">{{ demandFile?.fileName }}</a>
                                                        </div>
                                                        <div class="product-description">
                                                            {{demandFile?.description}}
                                                        </div>
                                                        <!--  <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                                                          <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>-->
                                                    </div>
                                                    <div class="product-list-action">
                                                        <!--                                                        <span class="product-price">${{product.price}}</span>-->
                                                        <p-button icon="pi pi-thumbs-up"
                                                                  (click)="showChoiceDialog(demandFile)"
                                                                  label="Choisir"></p-button>
                                                        <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dataView>

                                </div>
                                <!--<div fxLayout="row wrap" fxLayoutAlign="start start">
                                    &lt;!&ndash; <div *ngIf="product.images.length === 0"
                                          class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                         <img class="media"
                                              [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                     </div>

                                     <div *ngFor="let image of product.images">
                                         <div *ngIf="product.images.length > 0"
                                              class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                             <img class="media" [src]="image.url">
                                         </div>
                                     </div>&ndash;&gt;
                                </div>-->
                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>

<!--========================= UPLOAD DIALOG ==========================-->
<p-dialog header="Chargement des pièces jointes" class="modal-upload" [(visible)]="uploadDialogVisibility"
          [responsive]="true" showEffect="fade" draggable="true" [modal]="true" [resizable]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="demand">
        <div class="uploadDialogDiv">
            <input type="file" name="uploadfile" (change)="loadFiles($event)" class="inputfile" id="upfile"
                   multiple/>
            <label for="upfile"> Selectionner le fichier </label> <br/><br/>
            <b>{{fileNames}}</b>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align :center;">
            <button mat-raised-button class="btn-refresh" (click)="closeUploadDialog()" matTooltip="Annuler">
                Annuler <i class="material-icons">cancel</i>
            </button>
            &nbsp;
            <button mat-raised-button color="primary" (click)="upload()" matTooltip="Charger">
                Charger <i class="material-icons">cloud_upload</i>
            </button>
        </div>
    </p-footer>
</p-dialog>

<!--========================= CHOICE DIALOG ==========================-->
<!--<p-dialog header="Justification de votre choix" class="modal-upload" [(visible)]="choiceDialogVisibility"
          [responsive]="true" showEffect="fade" draggable="true" [modal]="true" [resizable]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="demandFileSelected">
        <form name="choiceForm" [formGroup]="choiceForm">
            <div class="w-100-p">
                <textarea formArrayName="description" type="text" rows="5" pInputTextarea></textarea>
            </div>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align :center;">
            <button mat-raised-button class="btn-refresh" (click)="closeChoiceDialog()" matTooltip="Annuler">
                Annuler <i class="material-icons">cancel</i>
            </button>
            &nbsp;
            <button mat-raised-button (click)="valide()"
                    color="primary" matTooltip="Valider">
                Valider <i class="pi pi-check"></i>
            </button>
        </div>
    </p-footer>
</p-dialog>-->
<p-dialog header="Justification de votre choix"
          [(visible)]="choiceDialogVisibility" [style]="{width: '50vw'}">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="demandFileSelected">
        <form name="choiceForm" [formGroup]="choiceForm">
            <textarea style="width: 100%"
                      formControlName="description"
                      rows="5" pInputTextarea></textarea>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align :center;">
            <button mat-raised-button class="btn-refresh" (click)="closeChoiceDialog()" matTooltip="Annuler">
                Annuler <i class="material-icons">cancel</i>
            </button>
            &nbsp;
            <button mat-raised-button (click)="valide()"
                    color="primary" matTooltip="Valider">
                Valider <i class="pi pi-check"></i>
            </button>
        </div>
    </p-footer>
</p-dialog>
