<h2 mat-dialog-title>{{demand?.title}}</h2>
<mat-dialog-content>
    <p [innerHTML]="demand?.description"></p>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button class="save-button" *ngIf="demand?.demandState ==='APPROVED'"
            matTooltip="Approuver"
            color="primary"
            (click)="approve(demand)">
        <mat-icon>thumb_up</mat-icon>&nbsp;
        <span>Approuver</span>
    </button>
    <button mat-raised-button class="save-button" *ngIf="demand?.demandState ==='IN_VALIDATION'"
            matTooltip="Valider"
            (click)="validate(demand)"
            color="primary">
        <mat-icon>check</mat-icon>&nbsp;
        <span>Valider</span>
    </button>
    <button mat-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>&nbsp;
        Fermer
    </button>
</mat-dialog-actions>
