<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle style="  background: #000000; color: white !important;" class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#006400"
            type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">S'il vous plaît, attendez ...</p>
        </ngx-spinner>

        <form [formGroup]="employeeForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nom</mat-label>
                    <input name="lastname" formControlName="lastname" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Prénom</mat-label>
                    <input name="firstname" formControlName="firstname" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Email</mat-label>
                    <input matInput name="email" formControlName="email" [errorStateMatcher]="matcher">
                    <mat-error
                        *ngIf="employeeForm.get('email').hasError('email') && !employeeForm.get('email').hasError('required')">
                        S'il vous plaît, mettez une adresse email valide
                    </mat-error>
                    <mat-error *ngIf="employeeForm.get('email').hasError('required')">
                        L'adresse e-mail est <strong> obligatoire </strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Addresse</mat-label>
                    <textarea name="address" formControlName="address"
                              matInput type="text" max-rows="5">
                    </textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Tel</mat-label>
                    <input type="number" name="telephone" formControlName="telephone" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Poste</mat-label>
                    <mat-select formControlName="job"
                                placeholder="choisir un poste"
                                (selectionChange)="onJobSelected($event.value)"
                                required>
                        <mat-option *ngFor="let job of jobs"
                                    [value]="job?.id">{{job?.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Département</mat-label>
                    <mat-select formControlName="department"
                                placeholder="choisir un département"
                                (selectionChange)="onDepartmentSelected($event.value)"
                                required>
                        <mat-option *ngFor="let department of departments"
                                    [value]="department?.id">{{department?.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="saveOrUpdate()"
                [disabled]="employeeForm.invalid"
                matTooltip="Enregistrer">
            Enregistrer
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="saveOrUpdate()"
                [disabled]="employeeForm.invalid || employeeForm.pristine"
                matTooltip="Modifier">
            Modifier
        </button>

        <button (click)="closeDialog()"
                class="mr-8"
                mat-button
                matTooltip="Annnuler">
            Annnuler
        </button>

    </div>
</div>
