<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle style="  background: #000000; color: white !important;" class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#006400"
            type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">S'il vous plaît, attendez ...</p>
        </ngx-spinner>

        <form [formGroup]="expenseForm" name="expenseForm">

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Ligne</mat-label>
                    <mat-select formControlName="budgetLine"
                                (selectionChange)="onLineSelected($event.value)"
                                required>
                        <mat-option *ngFor="let line of lines"
                                    [value]="line.id">{{line?.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Montant total</mat-label>
                    <input type="text" formControlName="total" readonly mask="separator" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Date</mat-label>
                    <input [matDatepicker]="datePicker" formControlName="date" matInput
                           name="date" (dateInput)="addEvent($event)">
                    <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Montant disponible</mat-label>
                    <input type="text" formControlName="amountAvailable" readonly mask="separator" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Titre</mat-label>
                    <input matInput name="title" formControlName="title"
                           required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Unité</mat-label>
                    <mat-select formControlName="unity"
                                (selectionChange)="onUnitSelected($event.value)"
                                required>
                        <mat-option *ngFor="let unit of unities"
                                    [value]="unit.id">{{unit?.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Quantité</mat-label>
                    <input type="text" name="quantity" #q (input)="checkQte(q.value)"
                           formControlName="quantity" mask="separator" matInput
                           autocomplete="off" required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>P.U</mat-label>
                    <input type="text" name="unitPrice" #p (input)="checkPU(p.value)"
                           formControlName="unitPrice" mask="separator" matInput
                           autocomplete="off" required>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Montant</mat-label>
                    <input type="text" name="amount" formControlName="amount" mask="separator" matInput
                           autocomplete="off">
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">

        <button *ngIf="action === 'add'" mat-button (click)="add()"
                class="save-button" [disabled]="expenseForm.invalid"
                matTooltip="Enregistrer">
            Enregistrer
        </button>

        <button *ngIf="action !== 'add'" mat-button (click)="add()"
                class="save-button" [disabled]="expenseForm.invalid"
                matTooltip="Modifier">
            Modifier
        </button>


        <button (click)="matDialogRef.close()"
                class="mr-8" mat-button
                matTooltip="Annnuler">
            Annnuler
        </button>

    </div>
</div>
