<div class="page-layout carded fullwidth inner-scroll" id="budgets">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayout.gt-sm="row"
             fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="logo-icon s-32 mr-16">
                    local_atm
                </mat-icon>
                <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" class="logo-text h1">
                    Budgets
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Rechercher un budget">
                </div>
            </div>
            <!-- / SEARCH -->
            <button mat-raised-button
                    [routerLink]="'/main/budget-management/budgets/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
                <span>Nouveau budget</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table #table
                       [@animateStagger]="{value:'50'}" [dataSource]="filteredBudgets"
                       class="budgets-table"
                       fusePerfectScrollbar
                       matSort>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Titre</mat-header-cell>
                    <mat-cell *matCellDef="let budget">
                        <p class="text-truncate">{{budget?.title}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date de debut</mat-header-cell>
                    <mat-cell *matCellDef="let budget">
                        <p class="text-truncate">{{budget?.startDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date de fin</mat-header-cell>
                    <mat-cell *matCellDef="let budget">
                        <p class="text-truncate">{{budget?.endDate | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Montant</mat-header-cell>
                    <mat-cell *matCellDef="let budget">
                        <p class="text-truncate">{{budget?.amount | number:'':'fr-FR'}} F CFA</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="project">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Projet</mat-header-cell>
                    <mat-cell *matCellDef="let budget">
                        <p class="text-truncate">{{budget?.project?.title}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Etat</mat-header-cell>
                    <mat-cell *matCellDef="let budget">
                        <div class="priorities" fxLayout="row" fxLayoutAlign="start center">
                            <div class="priority" fxLayout="row" fxLayoutAlign="start center">
                                <div class="priority-color"
                                     [ngStyle]="{'background-color': budget.state==='DRAFT'?'#FF9800':budget.state==='DONE'?'#388E3C':budget.state==='VALIDATED'?'#b2fff1':budget.state==='CANCELLED'?'#8B0000':'#F44336'}"></div>
                                <div class="priority-label">{{budgetState[budget.state]}}</div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>


                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let budget">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="budgetOptionMenu" aria-label="more">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                            <mat-menu #budgetOptionMenu="matMenu">
                                <button *ngIf="budget.state === 'DRAFT'" mat-menu-item
                                        [routerLink]="'/main/budget-management/budgets/'+budget?.id +'/'+budget.title">
                                    <mat-icon>edit</mat-icon>
                                    <span>Modifier</span>
                                </button>
                                <button mat-menu-item
                                        [routerLink]="'/main/budget-management/budget-details/details/'+budget?.id">
                                    <mat-icon>remove_red_eye</mat-icon>
                                    <span>Voir détails</span>
                                </button>
                                <button *ngIf="budget.state === 'DRAFT'" (click)="validateDialog(budget)"
                                        mat-menu-item>
                                    <mat-icon>check</mat-icon>
                                    <span>Valider</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let budget; columns: displayedColumns;"
                         class="budget"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10" [length]="totalElements"
                           (page)="nextPage($event)">
            </mat-paginator>

        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
