// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

// import toast
@import '~ngx-toastr/toastr';

body .modal-upload .ui-widget-header {
    background: #fff;
    color: #0B60A9 !important;
    font-size: 18px;
}

body .modal-upload .ui-dialog .ui-dialog-content {
    padding: 1.5em 1em !important;
}

body .modal-upload .ui-dialog-footer {
    border: 0;
    border-top: 1px solid #d6dee5;
    background: #f5f5f5;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    border: none;
    box-shadow: 2px 2px 4px 0 rgba(148, 148, 148, 0.6);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    /* text-transform: uppercase; */
    background-color: rgb(11, 96, 169);
    cursor: pointer;
}

.uploadDialogDiv {
    width: 100%;
    padding: 16px;
    color: #9b9b9b;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: #d0d0d0 dashed 1px;
    text-align: center;
}


