<div id="budget" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/main/budget-management/budgets'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{budget?.title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nouveau budget
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button *ngIf="budgetForm && pageType ==='new'"
                    mat-raised-button (click)="save()"
                    class="save-product-button"
                    [disabled]="budgetForm.invalid">
                <span>Enregistrer</span>
            </button>

            <button *ngIf="budgetForm && pageType ==='edit'"
                    mat-raised-button (click)="save()"
                    class="save-product-button"
                    [disabled]="budgetForm.invalid || budgetForm.pristine">
                <span>Modifier</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content p-24">
                <form *ngIf="budgetForm" name="budgetForm" [formGroup]="budgetForm" class="product w-100-p"
                      fxLayout="column" fxFlex>
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" class="pr-4" floatLabel="always" fxFlex="50">
                            <mat-label>Titre</mat-label>
                            <input matInput placeholder="le titre du budget"
                                   name="title"
                                   formControlName="title"
                                   required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="px-4" floatLabel="always" fxFlex="50">
                            <mat-label>Projet</mat-label>
                            <mat-select formControlName="project" (selectionChange)="onProjectSelected($event.value)"
                                        placeholder="choisir un projet" required>
                                <mat-option *ngFor="let project of projects"
                                            [value]="project?.id">{{project?.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                            <mat-label>Date de debut</mat-label>
                            <input [matDatepicker]="startDatePicker"
                                   formControlName="startDate" (dateInput)="addEvent($event)"
                                   matInput name="startDate" required>
                            <mat-datepicker-toggle [for]="startDatePicker"
                                                   matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                            <mat-label>Date de fin</mat-label>
                            <input [matDatepicker]="endDatePicker" [min]="minDate"
                                   formControlName="endDate" matInput
                                   name="endDate">
                            <mat-datepicker-toggle [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <br>
                    <!-- Start form lines array with first row must and dynamically add more -->
                    <mat-card formArrayName="lines">
                        <mat-card-title>Lignes budgétaire</mat-card-title>
                        <mat-divider></mat-divider>

                        <!-- loop throught lines -->
                        <div *ngFor="let line of budgetForm.controls.lines['controls']; let i=index">

                            <!-- row divider show for every nex row exclude if first row -->
                            <mat-divider
                                *ngIf="budgetForm.controls.lines['controls'].length > 1 && i > 0">
                            </mat-divider>
                            <br>

                            <!-- group name in this case row index -->
                            <div [formGroupName]="i">
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%"
                                     fxLayoutAlign="center">
                                    <!-- line name input field -->
                                    <mat-form-field class="pr-4" floatLabel="always" fxFlex="50">
                                        <input matInput placeholder="Titre" formControlName="title"
                                               required>
                                        <!-- input field error -->
                                        <mat-error *ngIf="line.controls.title.invalid">
                                            Le titre de la ligne est obligatoire.
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="pr-4" floatLabel="always" fxFlex="50">
                                        <input matInput placeholder="Montant" type="text" mask="separator"
                                               formControlName="amount" required>
                                        <!-- input field error -->
                                        <mat-error *ngIf="line.controls.amount.invalid">
                                            Le montant de la ligne est obligatoire.
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- row delete button, hidden if there is just one row -->
                                    <div fxLayout.xs="row">
                                        <button type="button" mat-mini-fab color="warn" fxFlex="nogrow"
                                                *ngIf="budgetForm.controls.lines['controls'].length > 1"
                                                (click)="removeLine(i)">
                                            <mat-icon>delete forever</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- New line button -->
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <button type="button" mat-raised-button (click)="addLine()">
                                <mat-icon>add box</mat-icon>
                                Ajouter une ligne
                            </button>
                            <button type="button" mat-raised-button (click)="clearAllLines()">
                                <mat-icon>remove_circle</mat-icon>
                                Tout effacer
                            </button>
                        </mat-card-actions>
                    </mat-card> <!-- End form lines array -->
                    <br>
                    <!-- Amount sum -->
                    <mat-card>
                        Le montant total du budget est {{ getAmountSum() | number:'':'fr-FR'}} F CFA
                    </mat-card>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
